<!-- <form action="localhost:3000/cats" method="post">

<label for="cat_name">Name</label>
<input type="text" name="cat[name]" id="cat_name">
<br>
<label for="cat_color">Color</label>
<select name="cat[color]" id="cat_color">
<option selected="selected" value=''></option>
<option value="black">Black</option>
<option value="white">White</option>
<option value="red">Red</option>
<option value="blue">Blue</option>
<option value="green">Green</option>
<option value="metallica">Metallica</option>
</select>
<br>
<label for="cat_sex">Sex</label>
<input type="radio" name="cat[sex]" id="cat_sex_female" value="F">
<label for="cat_sex_female">Female</label>
<input type="radio" name="cat[sex]" id="cat_sex_male" value="M">
<label for="cat_sex_male">Male</label>
<br>
<label for="cat_birthday">Birthday</label>
<input type="date" name="cat[birth_date]" id="cat_birthday">
<br>
<label for="cat_description">Description</label>
<input type="textarea" name="cat[description]" id="cat_description">
<br>
<input type="submit" value="Create cat">
</form> -->


<%= form_for @cat do |f| %>
<%#= f.hidden_field :_method, :patch %>
<%= f.label :name %>:
<%= f.text_field :name%><br/>
<%= f.label :color %>
<%= f.select :color, options_for_select(%w[black white red green blue metallica]) %>
<br/>
<%= f.label :sex %>
<%= f.radio_button(:sex,"F") %>
<%= f.label(:sex_F, "Female")%>
<%= f.radio_button(:sex, "M") %>
<%= f.label(:sex_M, "Male")%>
<br/>
<%= f.label :birth_date %>
<%= f.date_field :birth_date%>
<br/>
<%= f.label :description %>
<%= f.text_area :description %>
<br/>
<%= f.submit %>
<% end %>
