<% action_url, action_method = @user.persisted? ? [user_url(@user), 'PATCH'] : [users_url, 'POST'] %>
<% submit_text = @user.persisted? ? 'Update User' : 'Create User' %>

<%= render 'layouts/errors' %>

<form action='<%= action_url %>' method="POST">
  <input type='hidden' name='_method' value='<%= action_method %>'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>' >

  <label>Username:
    <input type='text' name='user[username]'>
  </label>

  <label>Password:
    <input type='password' name='user[password]'>
  </label>

  <input type='submit' value='<%= submit_text %>'>

</form>
