<% action_url = @band.persisted? ? band_url(@band) : bands_url %>
<% form_method = @band.persisted? ? "PATCH" : "POST" %>
<% submit_text = @band.persisted? ? "Update Band" : "Create Band" %>

<% if @band.errors.full_messages %>
    <% @band.errors.full_messages.each do |error| %>
        <div><%= error %></div>
    <% end %>
<% end %>

<form action='<%= action_url %>' method='POST'>
  <input type='hidden' name='_method' value='<%= form_method %>'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token%>'>

  <label for='name'>Band Name:</label>
  <input type='text' name='band[name]' value='<% band.name %>'>

  <input type='submit' value='<%= submit_text %>'>

</form>