<% action_url = @track.persisted? ? track_url(@track) : tracks_url %>
<% form_method = @track.persisted? ? "PATCH" : "POST" %>
<% submit_text = @track.persisted? ? "Update Track" : "Create Track" %>

<!-- <%# if @track.errors.full_messages %>
    <%# @track.errors.full_messages.each do |error| %>
        <div><%#= error %></div>
    <%# end %>
<%# end %> -->

<form action="<%= action_url %>" method='POST'>
  <input type='hidden' name='_method' value='<%= form_method %>'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>

  <label for='track_name'>Track Name:</label>
  <input type='text' name='track[name]' value='<%= @track.name %>' id='track_name'>

  <label for='track_album'>Album:</label>
  <select name='track[album_id]' id='track_album'>
    <option selected="selected" value=''></option>
    <% @albums.each do |album| %>
      <option value="<%= album.id %>" selected='<%= 'selected' if album.id == @track.album_id%>'><%= album.title %></option>
    <% end %>
  </select>
  <label>Distribution:</label>
  <input type='radio' name='track[distrib]' id='track_dist_regular' value='Regular'>
  <label for='track_dist_regular'>Regular</label>
  <input type='radio' name='track[distrib]' id='track_dist_deluxe' value='Deluxe'>
  <label for='track_dist_deluxe'>Deluxe</label>
  <label for='track_lyrics'>Lyrics:</label>
  <textarea name='track[lyrics]' id='track_lyrics'><%= @track.lyrics %></textarea>


  <input type='submit' value='<%= submit_text %>'>
</form>